body {
    margin: 0;
    padding: 0;
}

#snake-pit {
    outline: none !important;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

#score-board {
    margin: 10px 0;
    text-align: center;
}

#score-board > span {
    margin: 0 10px;
}